<div id="login_form_component">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field class="form-group">
            <input required minlength="1" matInput placeholder="Email" type="text" formControlName="email"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Must be valid</div>
            </div>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="form-group">
            <input matInput required minlength="6" placeholder="Password" type="password" formControlName="password"
              class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                At least 6 characters
              </div>
            </div>
          </mat-form-field>
        </p>

        <div class="form-group" id="id_boto_i_registre">

          <button [disabled]="false" type="submit" mat-raised-button color="primary">
            <!-- arreglar lo de disabled false -->
            Login
          </button>

          <mat-hint><a href="/register">Not registered yet?</a></mat-hint>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>