#login_form_component {
  display: flex;
  justify-content: center;

  .mat-card {
    width: 15em;
    height: 30em;
    border-radius: 1em;

    .mat-card-title {
      display: flex;
      justify-content: center;
      padding-top: 1em;
      font-size: 27px;
    }

    .mat-card-content {
      display: flex;
      height: 85%;
      align-items: flex-end;
      justify-content: center;

      form {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;

        button {
          margin-bottom: 20px;
          width: 10em;
          font-size: 19px;
        }
      }

      #id_boto_i_registre {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 30%;

        align-items: center;
        justify-content: space-between;
      }
    }

    a {
      color: white;
      font-size: 17px;
      text-decoration: none;
      transition: 0.3s;
    }
    a:hover {
      opacity: 0.5;
    }
  }
}
