<app-header></app-header>

<!-- Barra superior amb els botons de previous, next, etc -->
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>

<br />

<!-- Calendari sencer(?) -->
<div [ngSwitch]="view">
  <!-- calendari, vista mensual -->
  <!-- [activeDayIsOpen]="activeDayIsOpen" ,linia 75 -->
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events "
    [refresh]="refresh"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>

  <!-- calendari, vista setmanal -->
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>

  <!-- calendari, vista diaria -->
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<!-- El modal per a editar una tasca -->
<ng-template #modalEditar let-close="close">
  <form [formGroup]="formulariEditar" (ngSubmit)="editarTasca()">
    <!-- Títol -->
    <div class="modal-header">
      <h5 class="modal-title">Edit task</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- inputs editar tasca  -->
    <div class="modal-body">
      <div>
        Task:
        <select name="tasca" formControlName="tasca">
          <option
            *ngFor="let tasca of tasques"
            value="{{ tasca.id }}"
          >
            {{ tasca.nom }}
          </option>
        </select>
      </div>


      <div>
        Color:
        <select name="colorPrimari" formControlName="colorPrimari">
          <option
            *ngFor="let color of colors | keyvalue"
            value="{{ color.key }}"
          >
            {{ color.key }}
          </option>
        </select>
      </div>

      <div>
        Start date:
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
          formControlName="dataInici"
        />
      </div>

      <div>
        End date:
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
          formControlName="dataFinal"
        />
      </div>
    </div>

    <!-- Botons -->
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" (click)="close()">
        Save
      </button>

      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>

<!-- El modal per a crear una tasca -->
<ng-template #modalCrear let-close="close">
  <form [formGroup]="formulariCrear" (ngSubmit)="crearTasca()">
    <!-- Títol -->
    <div class="modal-header">
      <h5 class="modal-title">Create a new task</h5>
      <h4 class="modal-title">{{date_temporal}}</h4>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- inputs crear tasca  -->
    <div class="modal-body">
      <div>
        Task:
        <select name="tasca" formControlName="tasca">
          <option *ngFor="let tasca of tasques" value="{{ tasca.id }}">
            {{ tasca.nom }}
          </option>
        </select>
      </div>

      <div>
        Color:
        <select name="colorPrimari" formControlName="colorPrimari">
          <option
            *ngFor="let color of colors | keyvalue"
            value="{{ color.key }}"
          >
            {{ color.key }}
          </option>
        </select>
      </div>

      <div>
        Start date:
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
          formControlName="dataInici"
        />
      </div>

      <div>
        End date:
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
          formControlName="dataFinal"
        />
      </div>
    </div>

    <!-- Botons -->
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" (click)="close()">
        Create
      </button>

      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>
