<app-header [fill_dada]="pare_asd"></app-header>

<div id="register_form_component">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input [(ngModel)]="usuari" type="text" matInput placeholder="Username" formControlName="username" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input [(ngModel)]="email" type="text" matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input [(ngModel)]="pass1" type="password" matInput placeholder="Password" formControlName="password" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input [(ngModel)]="pass2" type="password" matInput placeholder="Password" formControlName="password" />
          </mat-form-field>
        </p>

        <!--         <p *ngIf="error" class="error">
          {{ error }}
        </p> -->

        <div class="button">
          <button type="submit" mat-raised-button color="primary">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>