#register_form_component {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;

  height: 100%;

  .mat-card {
    width: 16em;
    height: 35em;
    border-radius: 1em;

    .mat-card-title {
      /* border: 1px solid red; */

      display: flex;
      justify-content: center;

      padding-top: 1em;
      padding-right:0.3em;
      font-size: 27px;
    }

    .mat-card-content {
      display: flex;
      height: 85%;
      align-items: flex-end;
      justify-content: center;

      form {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;

        button {
          width: 10em;
          font-size: 19px;
        }
      }

      #id_boto_i_registre {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 30%;

        align-items: center;
        justify-content: space-around;
      }

      .mat-hint {
        padding-top: 3em;
      }
    }

    a {
      color: white;
      font-size: 17px;
      text-decoration: none;
      transition: 0.3s;
    }
    a:hover {
      opacity: 0.5;
    }
  }
}
